HolyPOS/bin/Debug/net8.0/HolyPOS.exe
HolyPOS/bin/Debug/net8.0/HolyPOS.pdb
HolyPOS/obj/Debug/net8.0/apphost.exe
HolyPOS/obj/Debug/net8.0/HolyPOS.AssemblyInfo.cs
HolyPOS/obj/Debug/net8.0/HolyPOS.AssemblyInfoInputs.cache
HolyPOS/obj/Debug/net8.0/HolyPOS.csproj.CoreCompileInputs.cache
HolyPOS/obj/Debug/net8.0/HolyPOS.dll
HolyPOS/obj/Debug/net8.0/HolyPOS.GeneratedMSBuildEditorConfig.editorconfig
HolyPOS/obj/Debug/net8.0/HolyPOS.pdb
HolyPOS/obj/Debug/net8.0/HolyPOS.sourcelink.json
HolyPOS/obj/Debug/net8.0/ref/HolyPOS.dll
HolyPOS/obj/Debug/net8.0/refint/HolyPOS.dll
HolyPOS/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
HolyPOS/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
HolyPOS/obj/Debug/net8.0/rpswa.dswa.cache.json
HolyPOS/bin/Debug/net8.0/HolyPOS.dll
HolyPOS/bin/Debug/net8.0/HolyPOS.exe
HolyPOS/bin/Debug/net8.0/HolyPOS.pdb
HolyPOS/obj/Debug/net8.0/apphost.exe
HolyPOS/obj/Debug/net8.0/HolyPOS.AssemblyInfo.cs
HolyPOS/obj/Debug/net8.0/HolyPOS.AssemblyInfoInputs.cache
HolyPOS/obj/Debug/net8.0/HolyPOS.csproj.CoreCompileInputs.cache
HolyPOS/obj/Debug/net8.0/HolyPOS.dll
HolyPOS/obj/Debug/net8.0/HolyPOS.GeneratedMSBuildEditorConfig.editorconfig
HolyPOS/obj/Debug/net8.0/HolyPOS.pdb
HolyPOS/obj/Debug/net8.0/HolyPOS.sourcelink.json
HolyPOS/obj/Debug/net8.0/ref/HolyPOS.dll
HolyPOS/obj/Debug/net8.0/refint/HolyPOS.dll
HolyPOS/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
HolyPOS/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
HolyPOS/obj/Debug/net8.0/rpswa.dswa.cache.json
HolyPOS/bin/Debug/net8.0/HolyPOS.dll
/HolyPOS/obj
/HolyPOS/obj/Debug
/HolyPOS/bin
